<div class="left-hand-bar-container">
    <div class="left-hand-bar">
                <div class="context-menu-container">
                <h2>{{frame.users}}</h2>
                <div class="context-menu">
                    <div class="tab">
                        <a href="/admin/manage-users"><p>{{frame.manage}}</p></a>
                    </div>
                    <div class="tab">
                         <a href="/admin/add-user"><p>{{frame.add}}</p></a>
                    </div>
                  
                </div>

                <h2>{{frame.books}}</h2>
                <div class="context-menu">
                    <div class="tab">
                       <a href="#/createbook"><p>{{frame.manage}}</p></a>
                    </div>
                    <div class="tab">
                        <a href="#/chapters"><p>{{frame.add}}</p></a>
                    </div>
                </div>

                <h2>{{frame.jobs}}</h2>
                <div class="context-menu">
                    <div class="tab">
                        <a href="#/voting"><p>{{frame.view}}</p></a>
                    </div>
                </div>
            </div>
            <div class="marker"></div>
        </div>
    </div>

