<div class="left-hand-bar-container">
    <div class="left-hand-bar">
                <div class="context-menu-container">
                <h2>Users</h2>
                <div class="context-menu">
                    <div class="tab">
                        <a href="/admin/manage-users"><p>Manage</p></a>
                    </div>
                    <div class="tab">
                         <a href="/admin/add-user"><p>Add</p></a>
                    </div>
                  
                </div>

                <h2>Books</h2>
                <div class="context-menu">
                    <div class="tab">
                       <a href="#/createbook"><p>Manage</p></a>
                    </div>
                    <div class="tab">
                        <a href="#/chapters"><p>Add</p></a>
                    </div>
                </div>

                <h2>Jobs</h2>
                <div class="context-menu">
                    <div class="tab">
                        <a href="#/voting"><p>View</p></a>
                    </div>
                </div>
            </div>
            <div class="marker"></div>
        </div>
    </div>
