{{>header}}
<div class="page-wrapper">
	{{>admin-lefthandbar}}
	<div class="content-stage">
		<form action="/admin/edit-user" method="post">
			<div class="row">
				<div class="col-md-12">
					<h2><a href="/admin/manage-users">{{content.manageUsers}}</a> / <Span>{{models.username}}</Span></h2>
				 {{#errors}}
                        <div class="alert alert-danger">{{.}}</div>
                 {{/errors}}
                 {{#messages}}
                        <div class="alert alert-success">{{.}}</div>
                 {{/messages}}
				</div>
			</div>

			{{#models}}
			<div class="row">
				<div class="col-md-6">
					<div class="textbox-wrap">
						<div class="input-group">
							<span class="input-group-addon">{{content.userID}}</span>
							<input type="text" name="id" class="form-control" placeholder="User ID" value="{{id}}" disabled>
							<input type="text" style="display:none" name="userid" class="form-control" placeholder="{{content.userID}}" value="{{id}}">
						</div>
					</div>
					<div class="textbox-wrap">
						<div class="input-group">
							<span class="input-group-addon">{{content.username}}</span>
							<input type="text" name="username" class="form-control" placeholder="{{content.username}}" value="{{username}}">
						</div>
					</div>
					<div class="textbox-wrap">
						<div class="input-group">
							<span class="input-group-addon">{{content.firstName}}</span>
							<input type="text" name="firstname" class="form-control" placeholder="{{content.firstName}}" value="{{first_name}}">
						</div>
					</div>
					<div class="textbox-wrap">
						<div class="input-group">
							<span class="input-group-addon">{{content.surname}}</span>
							<input type="text" name="surnamename" class="form-control" placeholder="{{content.surname}}" value="{{last_name}}">
						</div>
					</div>
					<div class="textbox-wrap">
						<div class="input-group">
							<span class="input-group-addon">{{content.email}}</span>
							<input type="text" name="email" class="form-control" placeholder="{{content.email}}" value="{{email}}">
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="textbox-wrap">
						<div class="input-group">
							<span class="input-group-addon">{{content.password}}</span>
							<input type="text" name="password" class="form-control" placeholder="{{content.password}}" value="{{password}}" disabled>
						</div>
					</div>
					<div class="textbox-wrap">
						<div class="input-group">
							<span class="input-group-addon">{{content.passwordSalt}}</span>
							<input type="text" name="salt" class="form-control" placeholder="{{content.passwordSalt}}" value="{{salt}}" disabled>
						</div>
					</div>
					<div class="textbox-wrap">
						<div class="input-group">
							<span class="input-group-addon">{{content.created}}</span>
							<input type="text" name="created" class="form-control" placeholder="{{content.created}}" value="{{createdAt}}" disabled>
						</div>
					</div>
					<div class="textbox-wrap">
						<div class="input-group">
							<span class="input-group-addon">{{content.updated}}</span>
							<input type="text" name="updated" class="form-control" placeholder="{{content.updated}}" value="{{updatedAt}}" disabled>
						</div>
					</div>
					<div class="textbox-wrap">
						<div class="input-group">
							<span class="input-group-addon">{{content.userIp}}</span>
							<input type="text" name="ip" class="form-control" placeholder="{{content.userIp}}" value="{{user_ip}}" disabled>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="textbox-wrap">
						<h4>{{content.settings}}</h4>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="textbox-wrap">
						<div class="input-group">
							{{#email_confirmed}}
							<label><input name="emailconfirmed" type="checkbox" checked> {{content.emailConfirmed}}</label>
							{{/email_confirmed}}
							{{^email_confirmed}}
							<label><input name="emailconfirmed" type="checkbox"> {{content.emailConfirmed}}</label>
							{{/email_confirmed}}
						</div>
					</div>
					<div class="textbox-wrap">
						<div class="input-group">
							{{#isActive}}
							<label><input name="active" type="checkbox" checked> {{content.active}}</label>
							{{/isActive}}
							{{^isActive}}
							<label><input name="active" type="checkbox"> {{content.active}}</label>
							{{/isActive}}
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="textbox-wrap">
						<div class="input-group">
							{{#isBanned}}
							<label><input name="banned" type="checkbox" checked> {{content.banned}}</label>
							{{/isBanned}}
							{{^isBanned}}
							<label><input name="banned" type="checkbox"> {{content.banned}}</label>
							{{/isBanned}}
						</div>
					</div>
					<div class="textbox-wrap">
						<div class="input-group">
							{{#isVerified}}
							<label><input name="verified" type="checkbox" checked> {{content.verified}}</label>
							{{/isVerified}}
							{{^isVerified}}
							<label><input name="verified" type="checkbox"> {{content.verified}}</label>
							{{/isVerified}}
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="textbox-wrap">
						<div class="input-group">
							{{#isAdmin}}
							<label><input name="admin" type="checkbox" checked> {{content.admin}}</label>
							{{/isAdmin}}
							{{^isAdmin}}
							<label><input name="admin" type="checkbox"> {{content.admin}}</label>
							{{/isAdmin}}
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
				<br>
					<button type="submit" class="btn btn-info">{{content.saveChanges}}</button>
					<button type="submit" class="btn btn-info">{{content.changePassword}}</button>
					<button type="submit" class="btn btn-info">{{content.resendConfirmation}}</button>
					<button type="submit" class="btn btn-info">{{content.passwordReset}}</button>
				</div>
			</div>
			{{/models}}
		</form>
	</div>
</div>
{{>footer}}
