{{>header}}
<div class="page-wrapper">
    {{>myprofile-lefthandbar}}
        <div class="callout">
            {{#callout}}{{{.}}}{{/callout}}
        </div>
    <div class="content-stage">
        <form action="/changepassword" method="post">
            <div class="row">
                <div class="col-md-12">
                    <h2>{{content.changePassword}}</h2>
                 {{#errors}}
                        <div class="alert alert-danger">{{.}}</div>
                 {{/errors}}
                 {{#messages}}
                        <div class="alert alert-success">{{.}}</div>
                 {{/messages}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="textbox-wrap">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key"></i></span>
                            <input type="password"  name="pw" id="input-login-password"  required="required" class="form-control " placeholder="{{content.password}}" />
                        </div>
                    </div>
                    <div class="textbox-wrap">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key"></i></span>
                            <input type="password"  name="vpw" id="input-login-password-check" required="required" class="form-control " placeholder="{{content.retypePassword}}" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <br>
                    <button type="submit" class="btn btn-info">{{content.update}} &nbsp; <i class="fa fa-chevron-right"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>
{{>footer}}