
{{>header}}
<div class="page-wrapper">
{{>myprofile-lefthandbar}}
		<div class="content-stage">
	{{>edit-profile-form}}
		</div>
</div>
<div class="modal fade" id="profile-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Profile Image Uploader</h4>
      </div>
      <div class="modal-body">
      <form method="post" enctype="multipart/form-data" id="profile-image-form"> 
       <input type="file" name="image" id="image-input">
      </div>
      <div class="image-loader"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" id="profile-image-form-btn">Upload</button>
      </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{{>footer}}