<div class="left-hand-bar-container profile-menu">
    <div class="left-hand-bar">
        <div class="context-menu-container">
            <div class="image">
                <img src="{{user.avatar}}" alt="{{user.username}}">
                <button class="image-button btn btn-info" data-toggle="modal" data-target="#profile-modal"> Upload Profile Image </button>
            </div>
            <div class="detail-container">
                <div class="bio">
                    <h2>{{user.username}}</h2>
                </div>
            </div>
            <div class="context-menu">
                <div class="tab">
                    <a href="/profile"><p>About Me</p></a>
                </div>
                <div class="tab">
                    <a href="/admin/manage-users"><p>Chapters</p></a>
                </div>
                <div class="tab">
                    <a href="/admin/add-user"><p>Following</p></a>
                </div>
                <div class="tab">
                    <a href="/admin/add-user"><p>Followers</p></a>
                </div>
                <div class="tab">
                    <a href="/admin/add-user"><p>Privicy</p></a>
                </div>
                
            </div>
        </div>
        <div class="marker"></div>
    </div>
</div>