<div class="left-hand-bar-container profile-menu">
    <div class="left-hand-bar">
                <div class="context-menu-container">
                <div class="user-image">
                    <img src="https://scontent-a-lhr.xx.fbcdn.net/hphotos-frc3/t1.0-9/1476498_628883248623_1833667072_n.jpg" alt="">
                </div>
                <div class="user-detail-container">
                <div class="user-bio">
                <h2>Martin Pomeroy</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id tellus mauris. Phasellus eu congue ante</p>
                </div>
                <div class="user-actions">
                <a class="btn btn-info btn-follow">Follow</a>
                </div>
                </div>
                <div class="context-menu">
                    <div class="tab">
                        <a href="/profile"><p>About Me</p></a>
                    </div>
                    <div class="tab">
                        <a href="/admin/manage-users"><p>My Chapters</p></a>
                    </div>
                    <div class="tab">
                         <a href="/admin/add-user"><p>Following</p></a>
                    </div>
                </div>

            </div>
            <div class="marker"></div>
        </div>

    </div>

