<div class="user-profile-dashboard" data-userId="{{user.id}}">
	<div class="row">
		<div class="col-md-12">
			<div class="user-header">
				<span><i class="fa fa-location-arrow"></i> {{^user.city}}{{content.noCity}}{{/user.city}}{{user.city}}, {{^user.country}}{{content.noCountry}}{{/user.country}}{{user.country}}</span>
				<span><i class="fa fa-pencil-square-o"></i>  {{user.points}} {{content.publisherPoints}}</span>
				<span><i class="fa fa-users"></i> {{followers}} {{content.followers}}</span>
				<span><i class="fa fa-book"></i> 9 {{content.chapters}}</span>

			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<div class="user-about">
				<h3>{{content.about}} {{user.username}}</h3>
				<p>{{user.bio}}{{^user.bio}}{{user.username}} {{content.noBio}}{{/user.bio}}</p>
			</div>
			<div class="user-feed">
				<h3>{{content.recentActivity}}</h3>
				<div>
					<div class="the-timeline">
						<ul>
						
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="row">
				<div class="col-md-12">
					<h3><span>{{content.following}}</span> / {{content.books}}</h3>
					<ul class="chapter-submittion">
						<li>
							<img src="http://lorempixel.com/190/120/nature/2">
							<h4 class="ng-binding">THe Wolf Gang</h4>
						</li>
						<li>
							<img src="http://lorempixel.com/190/120/fashion/2">
							<h4 class="ng-binding">Harry potter and the long titled book</h4>
						</li>
						<li>
							<img src="http://lorempixel.com/190/120/nature">
							<h4 class="ng-binding">A Short Tale</h4>
						</li>
						<li>
							<img src="http://lorempixel.com/190/120/nature/3">
							<h4 class="ng-binding">HTML 5 for beginners</h4>
						</li>
						<li>
							<img src="http://lorempixel.com/190/120/fashion">
							<h4 class="ng-binding">John Smith goes fishing</h4>
						</li>
						<li>
							<img src="http://lorempixel.com/190/120/nature/4">
							<h4 class="ng-binding">Evolve</h4>
						</li>
					</ul>
				</div></div>
					<div class="row">
					<div class="col-md-12">
						<h3><span>{{content.following}}</span> / {{content.authors}}</h3>
						{{^following}}
							<p>{{content.noFollowing}}</p>
						
							{{/following}}
						<ul class="follow-list">
							{{#following}}
							<li><a href="/profile/{{attributes.id}}">
								<img src="{{attributes.avatar}}" alt="{{attributes.username}}">
								</a>
							</li>
							{{/following}}
						</ul>
					</div></div>
				</div>
			</div>
		</div>