<div class="left-hand-bar-container book-menu">
    <div class="left-hand-bar">
        <div class="context-menu-container">
            <section class="image">
                <img src="{{book.attributes.picture}}" alt="{{book.attributes.title}}">
            </section>
            <section class="detail-container">
                <div class="bio">
                    <h2>{{book.attributes.title}}</h2>
                    <p>{{book.attributes.description}}</p>
                </div>
                <div class="book-rating">
                    <ul class="rating" data-score="{{book.attributes.rating}}">
                        <li><i class="star fa fa-star-o"></i></li>
                        <li><i class="star fa fa-star-o"></i></li>
                        <li><i class="star fa fa-star-o"></i></li>
                        <li><i class="star fa fa-star-o"></i></li>
                        <li><i class="star fa fa-star-o"></i></li>
                    </ul>
                </div>
            </section>
            <nav class="context-menu" id="book-menu">
                {{#chapters}}
                <div class="tab" data-chapter="{{attributes.chapter}}">
                    <a href="#chapter_{{attributes.chapter}}"><span>{{content.chapter}} {{attributes.chapter}}</span><p>
                    {{attributes.title}}
                    </p></a>
                </div>
                {{/chapters}}

                  {{#isVoting}}
                <div class="tab" data-chapter="next">
                    <a href="#chapter_next"><span>{{content.chapter}} {{attributes.voteNext}}</span><p>
                    {{attributes.title}}
                    </p></a>
                </div>
                {{/isVoting}}

                {{^isVoting}}
                <div class="tab voting-tab" data-chapter="next">
                    <a href="#chapter_next">{{content.voteNext}}</a>
                    </p>
                </div>
                {{/isVoting}}
                
            </nav>
        </div>
        <div class="marker"></div>
    </div>
</div>