{{>header}}
<div class="page-wrapper book-page">
	{{>book-lefthandbar}}
	{{>book-righthandbar}}
	<div class="callout">
		{{#callout}}{{{.}}}{{/callout}}
	</div>
	<div class="content-stage">
		{{>book-content}}
	</div>
</div>
{{>footer}}