<div class="right-hand-bar-container">
    <section class="author-details">
        <ul></ul>
    </section>
    <section class="comments-wrapper">
        <div class="comments" data-scroll="comments">
            <ul></ul>
        </div>
        <div class="comments-input">
            <form>
                <textarea class="comment_textbox" rows="2" data-ng-model="commentText" placeholder="Share your thoughts.."></textarea>
                <input class="btn-primary comment_submit" type="submit" value="Comment"/>
            </form>
        </div>
    </section>
</div>