<ul>
    {{#comments}}
        <li>
        <div class="comment-pic"><a href="/profile/{{userId}}">{{picture}}</a></div>
        <div class="comment">{{book_id}}</div>
        <div class="metadata">{{userId}}</div>
        </li>
    {{/comments}}
</ul>
