<ul>
    {{#comments}}
        <li>
        <span>{{userName}}</span>
        <span>{{book_id}}</span>
        <span>{{userId}}</span>
        <span>{{userPicture}}</span>
        <span>{{commentContent}}</span>
        </li>
    {{/comments}}
</ul>
