
{{>header}}
<div class="page-wrapper">
{{>lefthandbar}}

  {{#loggedIn}}
          <h2>Secure Area!!!</h2>

           						{{#messages}}
                        <div class="alert alert-success">{{.}}</div>
                        {{/messages}} 
        {{/loggedIn}}
</div>
{{>footer}}