<div class="left-hand-bar-container">
    <div class="left-hand-bar">
                <div class="context-menu-container">
                <h2>{{frame.browse}}</h2>
                <div class="context-menu">
                    <div class="tab">
                        <a href="#/home"><p>{{frame.spotlight}}</p></a>
                    </div>
                    <div class="tab">
                         <a href="#/genres"><p>{{frame.genres}}</p></a>
                    </div>
                    <div class="tab">
                         <a href="#/charts"><p>{{frame.charts}}</p></a>
                    </div>
                    <div class="tab">
                       <a href="#/authors"><p>{{frame.authors}}</p></a>
                    </div>
                </div>

                <h2>{{frame.create}}</h2>
                <div class="context-menu">
                    <div class="tab">
                       <a href="#/createbook"><p>{{frame.startABook}}</p></a>
                    </div>
                    <div class="tab">
                        <a href="#/chapters"><p>{{frame.submitChapter}}</p></a>
                    </div>
                </div>

                <h2>{{frame.contribute}}</h2>
                <div class="context-menu">
                    <div class="tab">
                        <a href="#/voting"><p>{{frame.chapterVoting}}</p></a>
                    </div>
                    <div class="tab">
                       <a href="#/spotlight"><p>{{frame.proofReading}}</p></a>
                    </div>
                </div>
            </div>
            <div class="marker"></div>
        </div>
    </div>