<div class="left-hand-bar-container">
    <div class="left-hand-bar">
                <div class="context-menu-container">
                <h2>Browse</h2>
                <div class="context-menu">
                    <div class="tab active">
                        <a href="#/home"><p>Spotlight</p></a>
                    </div>
                    <div class="tab">
                         <a href="#/genres"><p>Genres</p></a>
                    </div>
                    <div class="tab">
                         <a href="#/charts"><p>Charts</p></a>
                    </div>
                    <div class="tab">
                       <a href="#/authors"><p>Authors</p></a>
                    </div>
                </div>

                <h2>Create</h2>
                <div class="context-menu">
                    <div class="tab">
                       <a href="#/createbook"><p>Start a Book</p></a>
                    </div>
                    <div class="tab">
                        <a href="#/chapters"><p>Submit a Chapter</p></a>
                    </div>
                </div>

                <h2>Contribute</h2>
                <div class="context-menu">
                    <div class="tab">
                        <a href="#/voting"><p>Chapter Voting</p></a>
                    </div>
                    <div class="tab">
                       <a href="#/spotlight"><p>Proof Reading</p></a>
                    </div>
                </div>
            </div>
            <div class="marker"></div>
        </div>
    </div>
