<section class="spotlight">
	<div class="row">
		<div class="col-md-12">
			<h2>{{content.spotlight}}</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="spotlight-slider">
				<div class="directions">
					<i class="fa fa-arrow-left"></i>
					<i class="fa fa-arrow-right"></i>
				</div>
				<div id="owl1" class="owl-carousel">
					{{#books}}
					<article class="book" id="book_{{attributes.id}}"><a href="/book/{{attributes.id}}">
					<img src="{{attributes.picture}}" alt="{{attributes.title}}"></a>
					<div class="book-rating">
						<ul class="rating" data-score="{{attributes.rating}}">
							<li><i class="star fa fa-star-o"></i></li>
							<li><i class="star fa fa-star-o"></i></li>
							<li><i class="star fa fa-star-o"></i></li>
							<li><i class="star fa fa-star-o"></i></li>
							<li><i class="star fa fa-star-o"></i></li>
						</ul>
					</div>
					<div class="book-details">
						<a href="/book/{{attributes.id}}"><h1>{{attributes.title}}</h1></a>
						<div class="stage-meta">{{attributes.chapter_type}} <span class="{{attributes.stage}}">{{attributes.active_chapter}}</span> {{ attributes.stage }}</div>
						<div class="timer-bar"><span class="{{attributes.stage}}" style="width:{{attributes.remaining_time}}%;"></span></div>
						<p class="book-description">{{attributes.description}}</p>
					</div>
					</article>
					{{/books}}
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h2>{{content.newBooks}}</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="spotlight-slider">
				<div class="directions">
					<i class="fa fa-arrow-left"></i>
					<i class="fa fa-arrow-right"></i>
				</div>
				<div id="owl" class="owl-carousel">
					{{#books}}
					<article class="book" id="book_{{attributes.id}}"><a href="/book/{{attributes.id}}">
					<img src="{{attributes.picture}}" alt="{{attributes.title}}"></a>
					<div class="book-rating">
						<ul class="rating" data-score="{{attributes.rating}}">
							<li><i class="star fa fa-star-o"></i></li>
							<li><i class="star fa fa-star-o"></i></li>
							<li><i class="star fa fa-star-o"></i></li>
							<li><i class="star fa fa-star-o"></i></li>
							<li><i class="star fa fa-star-o"></i></li>
						</ul>
					</div>
					<div class="book-details">
						<a href="/book/{{attributes.id}}"><h1>{{attributes.title}}</h1></a>
						<div class="stage-meta">{{attributes.chapter_type}} <span class="{{attributes.stage}}">{{attributes.active_chapter}}</span> {{ attributes.stage }}</div>
						<div class="timer-bar"><span class="{{attributes.stage}}" style="width:{{attributes.remaining_time}}%;"></span></div>
						<p class="book-description">{{attributes.description}}</p>
					</div>
					</article>
					{{/books}}
				</div>
			</div>
		</div>
	</div>
</section>