{{>header-full}}
<div class="row">
    <div class="login-content animated bounceIn">
        <div class="section-title">
            <h3>{{content.resetPassword}}</h3>
        </div>
        <div class="login-form-action clearfix">
            <div class="pull-left">
                <span class="checkbox-text pull-left bottom-gap">{{content.passwordExpired}}</span>
            </div><br>
        </div>
        <div class="clearfix">
        <a type="submit" href="/" class="btn btn-info ">{{content.continue}}<i class="fa fa-chevron-right"></i></a></div>
    </div>
</div>
{{>footer}}