 

{{>header-full}}

<div class="row">
    <div class="login-content animated bounceIn">
                    <form  action="/resendemail/{{user}}" method="post">
                        <div class="section-title">
                            <h3>Resent Confirmation Email</h3>
                        </div>
 						{{#messages}}
                        <div class="alert alert-success">{{.}}</div>
                        {{/messages}}
                        <div class="login-form-action clearfix">
                            <div class="pull-left">
                            <span class="checkbox-text pull-left bottom-gap">Your confirmation email has expired. </span>
                            </div>
                            <button type="submit" class="btn btn-info ">Send new Confirmation email<i class="fa fa-chevron-right"></i></button>
                        </div>
                    </form>
                </div>

			</div>

{{>footer}}

