 {{>header-full}}

<div class="row">
    <div class="login-content animated bounceIn">
                    <form  action="/resetpassword" method="post">
                        <div class="section-title">
                            <h3>{{content.resetPassword}}</h3>
                        </div>
                        {{#messages}}
                        <div class="alert alert-danger">{{.}}</div>
                        {{/messages}}
                        <div class="textbox-wrap">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                <input type="password"  name="pw" id="input-login-password"  required="required" class="form-control " placeholder="{{content.password}}" data-validate="password" />
                            </div>
                            <p class="error-message">{{validation.password}}</p>
                        </div>
                        <div class="textbox-wrap">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                <input type="password"  name="vpw" id="input-login-password-check" required="required" class="form-control " placeholder="{{content.retypePassword}}"  data-validate-match="pw"/>
                            </div>
                                  <p class="error-message">{{validation.passwordMatch}}</p>
                        </div>
                        <div class="login-form-action clearfix">
                            <button type="submit" class="btn btn-info pull-right">{{content.update}} &nbsp; <i class="fa fa-chevron-right"></i></button>
                        </div>
                        <input type="text" style="display:none" name="userId" value="{{userId}}">
                        <input type="text" style="display:none" name="token" value="{{token}}">
                    </form>
                </div>

</div>

{{>footer}}

